mixin logo(data)
    a.logo(href="#" class= data.class)
        <svg class="icon icon--logo" aria-hidden="true">
            <use xlink:href="./assets/images/svg/sprite/sprite.svg#logo"></use>
        </svg>

        