include ../../components/logo/logo
include ../../components/menu/menu
include ../../components/button/button
include ../../components/search/search
include ../../components/dropdown/dropdown
include ../../components/slider-main/slider-main
include ../../components/burger/burger
